!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Group 6 website</h1>
        <strong><nav>
          <ul class="menu">
           </a><a href="signup-page.html">Register</a>
           <a href="loginpage.html">Login</a>
          </ul>
        </nav></strong>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>
